
# VS Code settings and tests
.vscode/**
.vscode-test/**

# Git and CI
.gitignore
.gitattributes
.gitflow
.github/**

# Build artifacts
*.vsix
*.map
Makefile
.markdownlint.json

# Source and configs
src/**
tsconfig.json
tsconfig.tsbuildinfo

# Node modules (safe because we bundle)
node_modules/**

# Exceptions for assets
!resources/**
!images/**
